$gray: #eee;

@font-face {
    font-family: gotham;
    src: url(app/css/GothamRnd-Book.otf);
}

body {
   /* font-family: gotham, roboto; */
   color: #848482;
}

h3 {
  font-weight: normal !important;
  
}

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; //round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.md-toolbar-tools {
    background-color: white;
    padding-top: 19px;
    color: #62717a!important;
}

md-toolbar {
  background-color: white !important;
  height: 83px;
  color: #62717a!important;
  text-align: center;
  box-shadow: none;
  border-bottom: #c4d0d9 1px solid;
}

.toolbar {
  color: #62717a!important;
  width: 250px;
}

.splash {
  background: url('natureForestTreesFog@3x.png') no-repeat fixed center; 
  min-height: 40em;
  width: 100%;
  text-align: center;
}

.report { 
  background-color: white;
}

.logo {
   padding-top: 10em;
}

.entrar {

}